In [13]:
import pandas as pd
import matplotlib.pyplot as plt
import os

In [14]:
data_folder = 'raw_data'
raw_data_paths = [
    ('/depression', '/targets/DPQ_L_Target_Depression.xpt'),
    ('/insomnia', '/targets/SLQ_L_Target_Insomnia.xpt'),
]

for i in range(len(raw_data_paths)):

    data = pd.read_sas(data_folder + raw_data_paths[i][1], format='xport')

    # Remove rows with any missing values in the targets
    data = data[data[list(data.columns)].notnull().all(1)]

    for file_path in os.listdir(data_folder + raw_data_paths[i][0]):
        if not file_path.endswith('.xpt'):
            raise ValueError("Unsupported file format")

        file_path = os.path.join(data_folder + raw_data_paths[i][0], file_path)
        new_data = pd.read_sas(file_path, format='xport') 

        if 'SEQN' not in new_data.columns:
            print("Missing SEQN column in file: " + file_path)
            #print(f'ID: {new_data["SP_ID"].head()}')
        else:     
            data = pd.merge(data, new_data, how="left", left_on="SEQN", right_on="SEQN")

    numeric_cols = data.select_dtypes(include=['float64']).columns
    for col in numeric_cols:
        data[col] = data[col].round().astype("Int64")

    #print(f'SEQN: {data["SEQN"].head()}')
    os.makedirs('processed_data', exist_ok=True)
    data.to_csv('processed_data/' + raw_data_paths[i][0] + '_data.csv', index=False)

Missing SEQN column in file: raw_data/depression\VTQ_L.xpt
Missing SEQN column in file: raw_data/insomnia\VTQ_L.xpt

In [15]:
file_path = os.path.join(data_folder + raw_data_paths[0][0], 'VTQ_L.xpt')
new_data = pd.read_sas(file_path, format='xport') 
print(new_data.columns)
print(new_data['SP_ID'])

Index(['SP_ID', 'WTSVOC2Y', 'VTQ231A', 'VTQ233A', 'VTQ233B', 'VTQ244A',
       'VTD244B', 'VTQ261A', 'VTD261B', 'VTQ271A', 'VTD271B', 'VTQ281A',
       'VTD281B'],
      dtype='object')
0       100151.0
1       100331.0
2       100457.0
3       100490.0
4       100727.0
5       101081.0
6       101153.0
7       101450.0
8       101746.0
9       102281.0
10      103240.0
11      103769.0
12      103793.0
13      103978.0
14      104033.0
15      104747.0
16      105088.0
17      105226.0
18      105505.0
19      105580.0
20      105628.0
21      106054.0
22      106091.0
23      106133.0
24      106693.0
25      106706.0
26      106762.0
27      106853.0
28      107473.0
29      107749.0
30      108025.0
31      108310.0
32      108353.0
33      108719.0
34      108760.0
35      108796.0
36      108950.0
37      109102.0
38      109168.0
39      109240.0
40      109525.0
41      109574.0
42      110045.0
43      110068.0
44      110149.0
45      110998.0
46      111226.0
47      111470.0
48      111472.0
49      111589.0
50      111839.0
51      111868.0
52      111964.0
53      112261.0
54      112394.0
55      112840.0
56      112958.0
57      113473.0
58      113680.0
59      114017.0
60      114395.0
61      114434.0
62      114736.0
63      115163.0
64      115238.0
65      115442.0
66      115801.0
67      115814.0
68      116081.0
69      116141.0
70      116230.0
71      116353.0
72      116425.0
73      116735.0
74      117028.0
75      117400.0
76      117521.0
77      118250.0
78      118487.0
79      118541.0
80      118553.0
81      118852.0
82      119105.0
83      119293.0
84      119582.0
85      120485.0
86      120502.0
87      120673.0
88      120782.0
89      121222.0
90      121883.0
91      122207.0
92      122320.0
93      122638.0
94      122690.0
95      122825.0
96      123400.0
97      123550.0
98      123604.0
99      123616.0
100     123769.0
101     123841.0
102     123976.0
103     124094.0
104     124106.0
105     124547.0
106     124726.0
107     124969.0
108     125027.0
109     125386.0
110     125524.0
111     126238.0
112     126388.0
113     126946.0
114     127103.0
115     127672.0
116     128099.0
117     128417.0
118     128486.0
119     128582.0
120     128737.0
121     128858.0
122     128890.0
123     129001.0
124     129238.0
125     129353.0
126     129436.0
127     129821.0
128     129866.0
129     129892.0
130     130234.0
131     130792.0
132     130802.0
133     131567.0
134     131669.0
135     131690.0
136     132467.0
137     132509.0
138     132817.0
139     133085.0
140     133151.0
141     133157.0
142     133234.0
143     134174.0
144     134260.0
145     134309.0
146     134474.0
147     135022.0
148     135049.0
149     135349.0
150     135472.0
151     135778.0
152     135947.0
153     136250.0
154     136318.0
155     136588.0
156     136717.0
157     136768.0
158     137558.0
159     137714.0
160     137906.0
161     138293.0
162     138445.0
163     138721.0
164     138803.0
165     139358.0
166     139463.0
167     139697.0
168     140233.0
169     140591.0
170     140722.0
171     141311.0
172     141649.0
173     141650.0
174     142165.0
175     142558.0
176     142654.0
177     142873.0
178     143291.0
179     143942.0
180     144181.0
181     144442.0
182     144784.0
183     145261.0
184     145811.0
185     146278.0
186     146705.0
187     147130.0
188     147280.0
189     147532.0
190     147662.0
191     147721.0
192     148036.0
193     148325.0
194     148330.0
195     148355.0
196     148732.0
197     149342.0
198     149350.0
199     149389.0
200     149447.0
201     149641.0
202     149722.0
203     150421.0
204     150581.0
205     150682.0
206     150809.0
207     150965.0
208     151286.0
209     151525.0
210     151900.0
211     152176.0
212     152389.0
213     152702.0
214     152891.0
215     153016.0
216     153916.0
217     154034.0
218     154297.0
219     154594.0
220     155603.0
221     155866.0
222     156509.0
223     157192.0
224     157421.0
225     157762.0
226     158129.0
227     158209.0
228     159290.0
229     159398.0
230     160481.0
231     160510.0
232     160529.0
233     160586.0
234     160673.0
235     161237.0
236     161786.0
237     161861.0
238     161938.0
239     162622.0
240     162874.0
241     163175.0
242     163559.0
243     164260.0
244     164317.0
245     164338.0
246     164497.0
247     164758.0
248     164942.0
249     165514.0
250     165626.0
251     165640.0
252     165694.0
253     165946.0
254     165947.0
255     165961.0
256     166162.0
257     166766.0
258     166862.0
259     166870.0
260     167273.0
261     167536.0
262     168160.0
263     168193.0
264     168373.0
265     168467.0
266     168613.0
267     168671.0
268     169163.0
269     169175.0
270     169273.0
271     169289.0
272     169324.0
273     169498.0
274     169655.0
275     169822.0
276     169909.0
277     170015.0
278     170344.0
279     170678.0
280     171214.0
281     171352.0
282     171574.0
283     171757.0
284     172018.0
285     172577.0
286     172706.0
287     172714.0
288     172864.0
289     173686.0
290     174047.0
291     174073.0
292     174149.0
293     174160.0
294     174245.0
295     174862.0
296     175297.0
297     175445.0
298     176182.0
299     176207.0
300     176218.0
301     177040.0
302     177071.0
303     177469.0
304     177637.0
305     177767.0
306     177797.0
307     178127.0
308     178130.0
309     178168.0
310     178181.0
311     178418.0
312     178552.0
313     178613.0
314     178798.0
315     178973.0
316     179270.0
317     179618.0
318     179848.0
319     180280.0
320     181084.0
321     181199.0
322     181264.0
323     181798.0
324     182245.0
325     182434.0
326     182692.0
327     182789.0
328     183113.0
329     183461.0
330     183674.0
331     184444.0
332     184753.0
333     185015.0
334     185056.0
335     185314.0
336     185320.0
337     185498.0
338     185680.0
339     186539.0
340     186586.0
341     186640.0
342     186647.0
343     186977.0
344     187081.0
345     187273.0
346     187325.0
347     187970.0
348     188123.0
349     188342.0
350     188666.0
351     188857.0
352     188903.0
353     189493.0
354     189797.0
355     189982.0
356     190811.0
357     191342.0
358     191344.0
359     191402.0
360     191650.0
361     192106.0
362     192890.0
363     192965.0
364     193429.0
365     193573.0
366     193657.0
367     193681.0
368     193691.0
369     193834.0
370     193958.0
371     194078.0
372     194236.0
373     194305.0
374     194366.0
375     194621.0
376     194981.0
377     195064.0
378     195485.0
379     195637.0
380     196009.0
381     196178.0
382     196334.0
383     196786.0
384     196979.0
385     197594.0
386     197674.0
387     197759.0
388     198107.0
389     198155.0
390     198278.0
391     198934.0
392     199222.0
393     199769.0
394     199798.0
395     199802.0
396     199847.0
397     200254.0
398     200896.0
399     200954.0
400     201418.0
401     201575.0
402     201578.0
403     201806.0
404     202307.0
405     202439.0
406     202582.0
407     202658.0
408     203200.0
409     203486.0
410     203560.0
411     203626.0
412     204124.0
413     204373.0
414     204586.0
415     204779.0
416     204833.0
417     204905.0
418     205441.0
419     206018.0
420     206566.0
421     206849.0
422     207173.0
423     207208.0
424     207578.0
425     207589.0
426     208606.0
427     209449.0
428     209717.0
429     209788.0
430     209813.0
431     209992.0
432     210244.0
433     210389.0
434     210478.0
435     210724.0
436     211225.0
437     211246.0
438     211321.0
439     211379.0
440     211810.0
441     212315.0
442     212446.0
443     212704.0
444     212725.0
445     212801.0
446     213169.0
447     213184.0
448     213650.0
449     214301.0
450     214372.0
451     214625.0
452     214703.0
453     214705.0
454     215446.0
455     215452.0
456     215573.0
457     215893.0
458     216010.0
459     216062.0
460     216182.0
461     216353.0
462     216527.0
463     216794.0
464     216826.0
465     216839.0
466     217045.0
467     217165.0
468     217298.0
469     217540.0
470     217790.0
471     217949.0
472     218602.0
473     218896.0
474     220321.0
475     220324.0
476     220348.0
477     220594.0
478     220649.0
479     220861.0
480     220984.0
481     221146.0
482     222035.0
483     222641.0
484     222688.0
485     222724.0
486     222778.0
487     222986.0
488     223145.0
489     223187.0
490     223594.0
491     223853.0
492     224038.0
493     224128.0
494     224342.0
495     224401.0
496     224654.0
497     224704.0
498     225191.0
499     225197.0
500     225899.0
501     226573.0
502     226769.0
503     226846.0
504     226990.0
505     227699.0
506     227786.0
507     228337.0
508     228460.0
509     228497.0
510     229297.0
511     229343.0
512     230092.0
513     230531.0
514     230825.0
515     231001.0
516     231017.0
517     231409.0
518     231845.0
519     231868.0
520     232636.0
521     233234.0
522     233423.0
523     233674.0
524     234049.0
525     234094.0
526     234334.0
527     234497.0
528     234626.0
529     234662.0
530     234901.0
531     234923.0
532     235385.0
533     235694.0
534     235753.0
535     236066.0
536     236165.0
537     236417.0
538     236788.0
539     236873.0
540     237382.0
541     237553.0
542     237622.0
543     237772.0
544     237901.0
545     237977.0
546     238193.0
547     238444.0
548     238487.0
549     238538.0
550     238643.0
551     238822.0
552     238846.0
553     239027.0
554     239087.0
555     239294.0
556     239495.0
557     239593.0
558     239665.0
559     239833.0
560     239837.0
561     239978.0
562     240089.0
563     240386.0
564     240586.0
565     240713.0
566     240946.0
567     241294.0
568     241319.0
569     241462.0
570     241883.0
571     241958.0
572     241978.0
573     242015.0
574     242318.0
575     242392.0
576     242437.0
577     242641.0
578     243118.0
579     243448.0
580     243623.0
581     244324.0
582     244418.0
583     244457.0
584     244957.0
585     245164.0
586     245398.0
587     245797.0
588     245848.0
589     245909.0
590     245950.0
591     245986.0
592     246328.0
593     246419.0
594     246698.0
595     247502.0
596     247553.0
597     248281.0
598     248332.0
599     248794.0
600     248837.0
601     249539.0
602     250037.0
603     250078.0
604     250294.0
605     250306.0
606     250913.0
607     250933.0
608     251206.0
609     251453.0
610     251458.0
611     251596.0
612     252244.0
613     252386.0
614     253204.0
615     253250.0
616     253253.0
617     253357.0
618     254020.0
619     254237.0
620     254464.0
621     254830.0
622     254966.0
623     255088.0
624     255185.0
625     255238.0
626     255358.0
627     255455.0
628     255550.0
629     255769.0
630     256417.0
631     256657.0
632     256900.0
633     257008.0
634     257140.0
635     257219.0
636     257266.0
637     257486.0
638     257546.0
639     257806.0
640     258022.0
641     258278.0
642     258449.0
643     258707.0
644     258892.0
645     259045.0
646     259115.0
647     259210.0
648     259235.0
649     259991.0
650     260117.0
651     260350.0
652     260614.0
653     261179.0
654     261530.0
655     261605.0
656     261725.0
657     262384.0
658     262385.0
659     262993.0
660     262996.0
661     263102.0
662     263354.0
663     263441.0
664     263975.0
665     264058.0
666     265108.0
667     265355.0
668     265385.0
669     265454.0
670     265684.0
671     266102.0
672     266105.0
673     266638.0
674     266711.0
675     266905.0
676     266990.0
677     266998.0
678     267089.0
679     267215.0
680     267409.0
681     267455.0
682     267461.0
683     267911.0
684     267995.0
685     268181.0
686     268246.0
687     268405.0
688     268558.0
689     268766.0
690     268946.0
691     269669.0
692     270038.0
693     270149.0
694     270197.0
695     270277.0
696     270365.0
697     270568.0
698     270601.0
699     270856.0
700     270995.0
701     271018.0
702     271336.0
703     271358.0
704     272579.0
705     272987.0
706     272999.0
707     273047.0
708     275092.0
709     275350.0
710     275650.0
711     275725.0
712     275771.0
713     275939.0
714     276256.0
715     276662.0
716     276782.0
717     276874.0
718     276946.0
719     277490.0
720     277660.0
721     277721.0
722     277847.0
723     278051.0
724     278198.0
725     279110.0
726     279563.0
727     280201.0
728     280451.0
729     280637.0
730     280766.0
731     280933.0
732     280958.0
733     281147.0
734     281242.0
735     281273.0
736     281321.0
737     281392.0
738     281513.0
739     281639.0
740     281818.0
741     281992.0
742     282928.0
743     282986.0
744     282995.0
745     283186.0
746     283250.0
747     283622.0
748     283720.0
749     283966.0
750     284159.0
751     284366.0
752     284542.0
753     285191.0
754     285275.0
755     285785.0
756     286013.0
757     286321.0
758     286789.0
759     287231.0
760     287482.0
761     287942.0
762     288017.0
763     288122.0
764     288209.0
765     288350.0
766     288517.0
767     288767.0
768     289637.0
769     289793.0
770     290122.0
771     290530.0
772     291179.0
773     291353.0
774     291362.0
775     291467.0
776     291731.0
777     291926.0
778     292069.0
779     292810.0
780     292934.0
781     293044.0
782     293140.0
783     293788.0
784     294106.0
785     294305.0
786     294350.0
787     294593.0
788     294923.0
789     295168.0
790     295241.0
791     295525.0
792     295859.0
793     295990.0
794     296114.0
795     296224.0
796     296549.0
797     297064.0
798     297793.0
799     298222.0
800     298633.0
801     298913.0
802     299093.0
803     299293.0
804     299605.0
805     299633.0
806     299749.0
807     300023.0
808     300169.0
809     300191.0
810     300454.0
811     300556.0
812     300589.0
813     300725.0
814     300758.0
815     300874.0
816     301289.0
817     301379.0
818     301753.0
819     302026.0
820     302246.0
821     302977.0
822     303376.0
823     303664.0
824     303923.0
825     304237.0
826     304493.0
827     305147.0
828     305314.0
829     305458.0
830     305461.0
831     305681.0
832     306038.0
833     306424.0
834     306469.0
835     306791.0
836     306886.0
837     307021.0
838     307081.0
839     307153.0
840     307583.0
841     307714.0
842     307802.0
843     307888.0
844     308273.0
845     308498.0
846     308579.0
847     308794.0
848     308867.0
849     308909.0
850     309394.0
851     309577.0
852     309671.0
853     309682.0
854     310696.0
855     310738.0
856     310937.0
857     311026.0
858     311078.0
859     311224.0
860     311290.0
861     311488.0
862     311566.0
863     311842.0
864     311965.0
865     311980.0
866     312217.0
867     312389.0
868     312526.0
869     312610.0
870     312845.0
871     312952.0
872     313144.0
873     313288.0
874     313658.0
875     313924.0
876     313943.0
877     313990.0
878     314078.0
879     314326.0
880     314338.0
881     314615.0
882     314830.0
883     315421.0
884     315929.0
885     316048.0
886     316180.0
887     316475.0
888     316654.0
889     316994.0
890     317498.0
891     317920.0
892     318026.0
893     318038.0
894     318443.0
895     318556.0
896     318575.0
897     318838.0
898     319048.0
899     319204.0
900     319622.0
901     320497.0
902     321278.0
903     321376.0
904     321514.0
905     321748.0
906     322294.0
907     322427.0
908     322492.0
909     322537.0
910     322813.0
911     322949.0
912     323452.0
913     323702.0
914     323942.0
915     324142.0
916     324712.0
917     324779.0
918     324997.0
919     325177.0
920     326129.0
921     326309.0
922     326441.0
923     326650.0
924     327172.0
925     327241.0
926     327286.0
927     327673.0
928     327701.0
929     327988.0
930     328109.0
931     328337.0
932     329111.0
933     329189.0
934     329207.0
935     329267.0
936     330169.0
937     330365.0
938     330623.0
939     330638.0
940     330685.0
941     330830.0
942     331378.0
943     331573.0
944     331801.0
945     331802.0
946     331945.0
947     331981.0
948     332233.0
949     332302.0
950     332429.0
951     333371.0
952     333422.0
953     333509.0
954     333689.0
955     333700.0
956     333851.0
957     333854.0
958     333862.0
959     334141.0
960     334249.0
961     334474.0
962     334547.0
963     334661.0
964     334673.0
965     334966.0
966     335282.0
967     335332.0
968     335378.0
969     335870.0
970     336026.0
971     336046.0
972     336058.0
973     336136.0
974     336482.0
975     336959.0
976     336961.0
977     337307.0
978     337321.0
979     337439.0
980     337648.0
981     337654.0
982     338153.0
983     338734.0
984     338939.0
985     339013.0
986     339257.0
987     339388.0
988     339745.0
989     339760.0
990     340522.0
991     340621.0
992     340774.0
993     340850.0
994     340930.0
995     340990.0
996     341146.0
997     341309.0
998     341411.0
999     342256.0
1000    342448.0
1001    342461.0
1002    342529.0
1003    343163.0
1004    343445.0
1005    343729.0
1006    343753.0
1007    343984.0
1008    345881.0
1009    345898.0
1010    345970.0
1011    346105.0
1012    346913.0
1013    346934.0
1014    347317.0
1015    347458.0
1016    347950.0
1017    348110.0
1018    348121.0
1019    348299.0
1020    348347.0
1021    348361.0
1022    348833.0
1023    349216.0
1024    349342.0
1025    349402.0
1026    350032.0
1027    350345.0
1028    350393.0
1029    350794.0
1030    350854.0
1031    350857.0
1032    351136.0
1033    351292.0
1034    351335.0
1035    351866.0
1036    352120.0
1037    352187.0
1038    352396.0
1039    352546.0
1040    352610.0
1041    352873.0
1042    353582.0
1043    353825.0
1044    354001.0
1045    354329.0
1046    354436.0
1047    354622.0
1048    355358.0
1049    356363.0
1050    357436.0
1051    357556.0
1052    357742.0
1053    357868.0
1054    358514.0
1055    358702.0
1056    358846.0
1057    359339.0
1058    359474.0
1059    359573.0
1060    360542.0
1061    360772.0
1062    361031.0
1063    361105.0
1064    361150.0
1065    361502.0
1066    361624.0
1067    361777.0
1068    362038.0
1069    362042.0
1070    362125.0
1071    362185.0
1072    362278.0
1073    362474.0
1074    362489.0
1075    362542.0
1076    362630.0
1077    363082.0
1078    363628.0
1079    363826.0
1080    364213.0
1081    364229.0
1082    364294.0
1083    364427.0
1084    364666.0
1085    365425.0
1086    365474.0
1087    365908.0
1088    366014.0
1089    366502.0
1090    366731.0
1091    367396.0
1092    367919.0
1093    368003.0
1094    368069.0
1095    368201.0
1096    369071.0
1097    369109.0
1098    369191.0
1099    369245.0
1100    370385.0
1101    370799.0
1102    370865.0
1103    370900.0
1104    371422.0
1105    371509.0
1106    371627.0
1107    371885.0
1108    371944.0
1109    372061.0
1110    372328.0
1111    372650.0
1112    372742.0
1113    372949.0
1114    373738.0
1115    373991.0
1116    374110.0
1117    374345.0
1118    374362.0
1119    374477.0
1120    374717.0
1121    374812.0
1122    374963.0
1123    374966.0
1124    375065.0
1125    375196.0
1126    375217.0
1127    375299.0
1128    375388.0
1129    375503.0
1130    375580.0
1131    375653.0
1132    375665.0
1133    375854.0
1134    376133.0
1135    376258.0
1136    376330.0
1137    377129.0
1138    377159.0
1139    377161.0
1140    377837.0
1141    377893.0
1142    378481.0
1143    378515.0
1144    378565.0
1145    378698.0
1146    378820.0
1147    379241.0
1148    379582.0
1149    379622.0
1150    379786.0
1151    380003.0
1152    380345.0
1153    380368.0
1154    380758.0
1155    380963.0
1156    381206.0
1157    381665.0
1158    381670.0
1159    381745.0
1160    382409.0
1161    382463.0
1162    382477.0
1163    382573.0
1164    383426.0

In [16]:
import pandas as pd
import os

# Display all columns
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.width', None)

# Load depression data
df_depression = pd.read_csv('processed_data/depression_data.csv')

# Create a summary of missing and non-missing values
missing_summary = pd.DataFrame({
    'Missing Values': df_depression.isnull().sum(),
    'Non-Missing Values': df_depression.notnull().sum(),
    'Missing %': (df_depression.isnull().sum() / len(df_depression) * 100).round(2)
})

# Ensure output folder exists and save summary to files
os.makedirs('processed_data', exist_ok=True)
missing_summary.to_csv('processed_data/depression_missing_summary.csv')

print("=" * 70)
print("DEPRESSION DATA - MISSING VALUES SUMMARY")
print("=" * 70)
print(f"\nTotal rows: {len(df_depression)}")
print(f"Total columns: {len(df_depression.columns)}\n")
print(missing_summary)
print("\n" + "=" * 70)
print(f"Total missing values in dataset: {df_depression.isnull().sum().sum()}")
print("=" * 70)
print("Saved missing-summary to processed_data/depression_missing_summary.csv and .txt")

======================================================================
DEPRESSION DATA - MISSING VALUES SUMMARY
======================================================================

Total rows: 4167
Total columns: 265

          Missing Values  Non-Missing Values  Missing %
SEQN                   0                4167       0.00
DPQ010                 0                4167       0.00
DPQ020                 0                4167       0.00
DPQ030                 0                4167       0.00
DPQ040                 0                4167       0.00
DPQ050                 0                4167       0.00
DPQ060                 0                4167       0.00
DPQ070                 0                4167       0.00
DPQ080                 0                4167       0.00
DPQ090                 0                4167       0.00
DPQ100                 0                4167       0.00
ACD010A              767                3400      18.41
ACD010B             4158                   9      99.78
ACD010C             4000                 167      95.99
ACD040              3496                 671      83.90
ALQ111                20                4147       0.48
ALQ121               425                3742      10.20
ALQ130              1047                3120      25.13
ALQ142              1035                3132      24.84
ALQ270              2319                1848      55.65
ALQ280              2323                1844      55.75
ALQ151               441                3726      10.58
ALQ170              2325                1842      55.80
BPQ020                 0                4167       0.00
BPQ030              2646                1521      63.50
BPQ150              2646                1521      63.50
BPQ080                 0                4167       0.00
BPQ101D                0                4167       0.00
DBQ010              4167                   0     100.00
DBD030              4167                   0     100.00
DBD041              4167                   0     100.00
DBD050              4167                   0     100.00
DBD055              4167                   0     100.00
DBD061              4167                   0     100.00
DBQ073A             4167                   0     100.00
DBQ073B             4167                   0     100.00
DBQ073C             4167                   0     100.00
DBQ073D             4167                   0     100.00
DBQ073E             4167                   0     100.00
DBQ073U             4167                   0     100.00
DBQ301              2443                1724      58.63
DBQ330              2443                1724      58.63
DBQ360              3959                 208      95.01
DBQ370              4110                  57      98.63
DBD381              4112                  55      98.68
DBQ390              4131                  36      99.14
DBQ400              4110                  57      98.63
DBD411              4118                  49      98.82
DBQ421              4143                  24      99.42
DBQ424              4136                  31      99.26
DBQ930                 0                4167       0.00
DBQ935                 0                4167       0.00
DBQ940                 0                4167       0.00
DBQ945                 0                4167       0.00
DIQ010                 0                4167       0.00
DID040              3581                 586      85.94
DIQ160               730                3437      17.52
DIQ180               587                3580      14.09
DIQ050              3581                 586      85.94
DID060              3968                 199      95.22
DIQ060U             3972                 195      95.32
DIQ070              2922                1245      70.12
FNQ021              4167                   0     100.00
FNQ041              4167                   0     100.00
FNQ050              4167                   0     100.00
FNQ060              4167                   0     100.00
FNQ080              4167                   0     100.00
FNQ160              4167                   0     100.00
FNQ100              4167                   0     100.00
FNQ110              4167                   0     100.00
FNQ120              4167                   0     100.00
FNQ170              4167                   0     100.00
FNQ180              4167                   0     100.00
FNQ190              4167                   0     100.00
FNQ130              4167                   0     100.00
FNQ200              4167                   0     100.00
FNQ140              4167                   0     100.00
FNQ150              4167                   0     100.00
FNDCDI              4167                   0     100.00
FNQ410                 3                4164       0.07
FNQ430                 2                4165       0.05
FNQ440                 2                4165       0.05
FNQ450                 2                4165       0.05
FNQ460                 2                4165       0.05
FNQ470                 2                4165       0.05
FNQ480                 2                4165       0.05
FNQ490                 2                4165       0.05
FNQ510                 2                4165       0.05
FNQ520               474                3693      11.38
FNQ530                 2                4165       0.05
FNQ540              1130                3037      27.12
FNDADI                 2                4165       0.05
FNDAEDI                2                4165       0.05
FSD032A              264                3903       6.34
FSD032B              264                3903       6.34
FSD032C              264                3903       6.34
FSD041              2886                1281      69.26
FSD052              3596                 571      86.30
FSD061              2886                1281      69.26
FSD071              2886                1281      69.26
FSD081              2886                1281      69.26
FSD092              3479                 688      83.49
FSD102              4012                 155      96.28
FSDAD                270                3897       6.48
FSD151               262                3905       6.29
FSQ165               271                3896       6.50
FSD165N             2577                1590      61.84
FSQ012              2577                1590      61.84
FSD012N             3288                 879      78.91
FSD230              3288                 879      78.91
FSD230N             3453                 714      82.87
FSD795              3288                 879      78.91
FSD225              3289                 878      78.93
FSD235              3288                 879      78.91
FSD162               264                3903       6.34
FSQ760              3991                 176      95.78
FSD760N             4034                 133      96.81
FSQ653              4167                   0     100.00
FSD660ZC            4167                   0     100.00
FSD675              4167                   0     100.00
FSD680              4167                   0     100.00
FSD670ZC            4167                   0     100.00
FSQ690              4167                   0     100.00
FSQ695              4167                   0     100.00
HIQ011                 0                4167       0.00
HIQ032A             1911                2256      45.86
HIQ032B             2789                1378      66.93
HIQ032C             4065                 102      97.55
HIQ032D             3529                 638      84.69
HIQ032E             4165                   2      99.95
HIQ032F             3983                 184      95.58
HIQ032H             3837                 330      92.08
HIQ032I             3995                 172      95.87
HIQ210               309                3858       7.42
HOD051               267                3900       6.41
HSQ590                 7                4160       0.17
HUQ010                 0                4167       0.00
HUQ030                 0                4167       0.00
HUQ042               485                3682      11.64
HUQ055                 0                4167       0.00
HUQ090                 0                4167       0.00
INDFMMPI             790                3377      18.96
INDFMMPC             305                3862       7.32
INQ300               303                3864       7.27
IND310              2249                1918      53.97
KIQ022               209                3958       5.02
KIQ025              4009                 158      96.21
KIQ005               250                3917       6.00
KIQ010              2239                1928      53.73
KIQ042               254                3913       6.10
KIQ044               258                3909       6.19
KIQ052              2083                2084      49.99
KIQ481               264                3903       6.34
MCQ010                 0                4167       0.00
MCQ035              3320                 847      79.67
MCQ040              3650                 517      87.59
MCQ050              3650                 517      87.59
AGQ030                 0                4167       0.00
MCQ053                 0                4167       0.00
MCQ149              4167                   0     100.00
MCQ160A              209                3958       5.02
MCQ195              2728                1439      65.47
MCQ160B              209                3958       5.02
MCQ160C              209                3958       5.02
MCQ160D              209                3958       5.02
MCQ160E              209                3958       5.02
MCQ160F              209                3958       5.02
MCQ160M              209                3958       5.02
MCQ170M             3583                 584      85.99
MCQ160P              209                3958       5.02
MCQ160L              209                3958       5.02
MCQ170L             3896                 271      93.50
MCQ500              3958                 209      94.98
MCQ510A             4002                 165      96.04
MCQ510B             4163                   4      99.90
MCQ510C             4135                  32      99.23
MCQ510D             4129                  38      99.09
MCQ510E             4157                  10      99.76
MCQ510F             4123                  44      98.94
MCQ550               209                3958       5.02
MCQ560               209                3958       5.02
MCQ220               209                3958       5.02
MCQ230A             3562                 605      85.48
MCQ230B             4086                  81      98.06
MCQ230C             4155                  12      99.71
MCQ230D             4165                   2      99.95
OSQ230              1331                2836      31.94
OCD150                 0                4167       0.00
OCQ180              2038                2129      48.91
OCQ210              3419                 748      82.05
OCQ215              1891                2276      45.38
OCQ383              2469                1698      59.25
OHQ845                 0                4167       0.00
OHQ620                 0                4167       0.00
OHQ630               209                3958       5.02
OHQ640               209                3958       5.02
OHQ660               209                3958       5.02
OHQ670               209                3958       5.02
OHQ680               209                3958       5.02
PAQ706              4167                   0     100.00
PAQ711              4167                   0     100.00
PAD790Q                6                4161       0.14
PAD790U                0                4167       0.00
PAD800               858                3309      20.59
PAD810Q                3                4164       0.07
PAD810U                0                4167       0.00
PAD820              2248                1919      53.95
PAD680                 3                4164       0.07
RHQ010              1750                2417      42.00
RHQ031              1755                2412      42.12
RHD043              2728                1439      65.47
RHQ060              2739                1428      65.73
RHQ078              2771                1396      66.50
RHQ131              2883                1284      69.19
RHD143              3694                 473      88.65
RHD167              3253                 914      78.07
RHQ200              3731                 436      89.54
RHD280              1873                2294      44.95
RHQ305              1876                2291      45.02
RHQ332              3865                 302      92.75
RXQ510              1331                2836      31.94
RXQ515              3090                1077      74.15
RXQ520              2408                1759      57.79
RXQ033                 0                4167       0.00
RXQ050              1218                2949      29.23
SLQ300                 0                4167       0.00
SLQ310                 0                4167       0.00
SLD012                49                4118       1.18
SLQ320                 0                4167       0.00
SLQ330                 0                4167       0.00
SLD013                53                4114       1.27
SMD460               260                3907       6.24
SMD470              3215                 952      77.15
SMQ681                 7                4160       0.17
SMQ690A             3530                 637      84.71
SMQ710              3534                 633      84.81
SMQ720              3534                 633      84.81
SMQ725              3537                 630      84.88
SMQ690B             4145                  22      99.47
SMQ740              4145                  22      99.47
SMQ690C             4074                  93      97.77
SMQ770              4074                  93      97.77
SMQ690G             4133                  34      99.18
SMQ845              4133                  34      99.18
SMQ846                 7                4160       0.17
SMQ849              3842                 325      92.20
SMQ851                11                4156       0.26
SMQ690D             4135                  32      99.23
SMQ690E             4160                   7      99.83
SMQ690K             4133                  34      99.18
SMQ863                16                4151       0.38
SMQ690F             4096                  71      98.30
SMDANY                18                4149       0.43
SMQ020                 2                4165       0.05
SMQ040              2488                1679      59.71
SMD641              4046                 121      97.10
SMD650              3545                 622      85.07
SMD100MN            3545                 622      85.07
SMQ621              4167                   0     100.00
SMD630              4167                   0     100.00
SMAQUEX2               0                4167       0.00
WHD010                 0                4167       0.00
WHD020                 0                4167       0.00
WHD050                 0                4167       0.00
WHQ070                 0                4167       0.00

======================================================================
Total missing values in dataset: 558001
======================================================================
Saved missing-summary to processed_data/depression_missing_summary.csv and .txt

In [ ]:
import pandas as pd
import os

# Load merged depression data
df = pd.read_csv('processed_data/depression_data.csv')

# Prepare output folder
os.makedirs('processed_data', exist_ok=True)

# Print unique values and counts for each column (excluding SEQN) and save a detailed CSV
records = []
print('='*80)
print('VALUE COUNTS & UNIQUE VALUES FOR EACH COLUMN (excluding SEQN)')
print('='*80)
cols = [c for c in df.columns if c != 'SEQN']
for col in cols:
    print(f"\nColumn: {col}")
    vc = df[col].value_counts(dropna=False, sort=False)
    # Print the counts to the notebook
    print(vc)
    # Also show the distinct values
    unique_vals = df[col].dropna().unique()
    print(f"Unique (non-null) values: {list(unique_vals)}")

    # Record rows for CSV
    for val, cnt in vc.items():
        records.append({
            'column': col,
            'value': val,
            'count': int(cnt),
            'percent': round(int(cnt) / len(df) * 100, 2)
        })

vc_df = pd.DataFrame(records)
vc_df.to_csv('processed_data/depression_value_counts.csv', index=False)

print('\nSaved detailed value counts to processed_data/depression_value_counts.csv and .txt (excluding SEQN)')

================================================================================
VALUE COUNTS & UNIQUE VALUES FOR EACH COLUMN (excluding SEQN)
================================================================================

Column: DPQ010
DPQ010
0    2363
3     253
1    1202
2     334
7       3
9      12
Name: count, dtype: int64
Unique (non-null) values: [np.int64(0), np.int64(3), np.int64(1), np.int64(2), np.int64(7), np.int64(9)]

Column: DPQ020
DPQ020
0    2330
3     212
1    1323
2     294
9       6
7       2
Name: count, dtype: int64
Unique (non-null) values: [np.int64(0), np.int64(3), np.int64(1), np.int64(2), np.int64(9), np.int64(7)]

Column: DPQ030
DPQ030
1    1686
0    1433
3     534
2     510
9       2
7       2
Name: count, dtype: int64
Unique (non-null) values: [np.int64(1), np.int64(0), np.int64(3), np.int64(2), np.int64(9), np.int64(7)]

Column: DPQ040
DPQ040
0    1009
1    2110
3     472
2     570
9       3
7       3
Name: count, dtype: int64
Unique (non-null) values: [np.int64(0), np.int64(1), np.int64(3), np.int64(2), np.int64(9), np.int64(7)]

Column: DPQ050
DPQ050
0    2368
3     289
1    1136
2     371
9       3
Name: count, dtype: int64
Unique (non-null) values: [np.int64(0), np.int64(3), np.int64(1), np.int64(2), np.int64(9)]

Column: DPQ060
DPQ060
0    2630
1    1052
3     212
2     268
9       2
7       3
Name: count, dtype: int64
Unique (non-null) values: [np.int64(0), np.int64(1), np.int64(3), np.int64(2), np.int64(9), np.int64(7)]

Column: DPQ070
DPQ070
0    2696
3     203
2     277
1     988
7       2
9       1
Name: count, dtype: int64
Unique (non-null) values: [np.int64(0), np.int64(3), np.int64(2), np.int64(1), np.int64(7), np.int64(9)]

Column: DPQ080
DPQ080
0    3411
2     129
1     510
3     108
9       6
7       3
Name: count, dtype: int64
Unique (non-null) values: [np.int64(0), np.int64(2), np.int64(1), np.int64(3), np.int64(9), np.int64(7)]

Column: DPQ090
DPQ090
0    3868
1     209
2      57
3      28
9       5
Name: count, dtype: int64
Unique (non-null) values: [np.int64(0), np.int64(1), np.int64(2), np.int64(3), np.int64(9)]

Column: DPQ100
DPQ100
0    2573
2     207
1    1306
3      74
7       4
9       3
Name: count, dtype: int64
Unique (non-null) values: [np.int64(0), np.int64(2), np.int64(1), np.int64(3), np.int64(7), np.int64(9)]

Column: ACD010A
ACD010A
1.0    3400
NaN     767
Name: count, dtype: int64
Unique (non-null) values: [np.float64(1.0)]

Column: ACD010B
ACD010B
NaN    4158
8.0       9
Name: count, dtype: int64
Unique (non-null) values: [np.float64(8.0)]

Column: ACD010C
ACD010C
NaN    4000
9.0     167
Name: count, dtype: int64
Unique (non-null) values: [np.float64(9.0)]

Column: ACD040
ACD040
NaN    3496
2.0     110
4.0     134
5.0     144
1.0     184
3.0      97
7.0       1
9.0       1
Name: count, dtype: int64
Unique (non-null) values: [np.float64(2.0), np.float64(4.0), np.float64(5.0), np.float64(1.0), np.float64(3.0), np.float64(7.0), np.float64(9.0)]

Column: ALQ111
ALQ111
1.0    3739
2.0     404
NaN      20
9.0       4
Name: count, dtype: int64
Unique (non-null) values: [np.float64(1.0), np.float64(2.0), np.float64(9.0)]

Column: ALQ121
ALQ121
2.0     227
10.0    420
4.0     360
NaN     425
8.0     204
3.0     327
0.0     608
9.0     408
6.0     460
5.0     316
1.0     128
7.0     280
99.0      2
77.0      2
Name: count, dtype: int64
Unique (non-null) values: [np.float64(2.0), np.float64(10.0), np.float64(4.0), np.float64(8.0), np.float64(3.0), np.float64(0.0), np.float64(9.0), np.float64(6.0), np.float64(5.0), np.float64(1.0), np.float64(7.0), np.float64(99.0), np.float64(77.0)]

Column: ALQ130
ALQ130
3.0       471
1.0      1008
2.0       994
NaN      1047
5.0       166
12.0       42
10.0       28
6.0       106
9.0        15
4.0       208
15.0       18
999.0       7
8.0        32
777.0       4
7.0        14
14.0        2
11.0        4
13.0        1
Name: count, dtype: int64
Unique (non-null) values: [np.float64(3.0), np.float64(1.0), np.float64(2.0), np.float64(5.0), np.float64(12.0), np.float64(10.0), np.float64(6.0), np.float64(9.0), np.float64(4.0), np.float64(15.0), np.float64(999.0), np.float64(8.0), np.float64(777.0), np.float64(7.0), np.float64(14.0), np.float64(11.0), np.float64(13.0)]

Column: ALQ142
ALQ142
0.0     1278
10.0     581
NaN     1035
6.0      195
5.0      155
1.0       33
9.0      304
2.0       53
7.0      230
8.0      111
3.0       89
99.0      10
77.0       6
4.0       87
Name: count, dtype: int64
Unique (non-null) values: [np.float64(0.0), np.float64(10.0), np.float64(6.0), np.float64(5.0), np.float64(1.0), np.float64(9.0), np.float64(2.0), np.float64(7.0), np.float64(8.0), np.float64(3.0), np.float64(99.0), np.float64(77.0), np.float64(4.0)]

Column: ALQ270
ALQ270
NaN     2319
0.0      772
10.0     408
6.0      105
9.0      138
1.0        8
4.0       53
8.0       62
7.0      142
99.0       7
5.0       76
2.0       29
3.0       45
77.0       3
Name: count, dtype: int64
Unique (non-null) values: [np.float64(0.0), np.float64(10.0), np.float64(6.0), np.float64(9.0), np.float64(1.0), np.float64(4.0), np.float64(8.0), np.float64(7.0), np.float64(99.0), np.float64(5.0), np.float64(2.0), np.float64(3.0), np.float64(77.0)]

Column: ALQ280
ALQ280
NaN     2323
10.0     284
0.0     1083
7.0       96
1.0       10
6.0       68
8.0       69
99.0       5
5.0       55
3.0       28
9.0       91
4.0       34
2.0       20
77.0       1
Name: count, dtype: int64
Unique (non-null) values: [np.float64(10.0), np.float64(0.0), np.float64(7.0), np.float64(1.0), np.float64(6.0), np.float64(8.0), np.float64(99.0), np.float64(5.0), np.float64(3.0), np.float64(9.0), np.float64(4.0), np.float64(2.0), np.float64(77.0)]

Column: ALQ151
ALQ151
2.0    2976
NaN     441
1.0     747
9.0       2
7.0       1
Name: count, dtype: int64
Unique (non-null) values: [np.float64(2.0), np.float64(1.0), np.float64(9.0), np.float64(7.0)]

Column: ALQ170
ALQ170
NaN      2325
0.0       876
3.0       116
1.0       373
8.0        22
30.0       34
2.0       204
4.0        72
5.0        51
20.0       28
6.0        24
9.0         6
7.0         8
15.0        9
13.0        1
18.0        2
10.0        9
12.0        2
17.0        1
777.0       3
999.0       1
Name: count, dtype: int64
Unique (non-null) values: [np.float64(0.0), np.float64(3.0), np.float64(1.0), np.float64(8.0), np.float64(30.0), np.float64(2.0), np.float64(4.0), np.float64(5.0), np.float64(20.0), np.float64(6.0), np.float64(9.0), np.float64(7.0), np.float64(15.0), np.float64(13.0), np.float64(18.0), np.float64(10.0), np.float64(12.0), np.float64(17.0), np.float64(777.0), np.float64(999.0)]

Column: BPQ020
BPQ020
1    1521
2    2644
9       2
Name: count, dtype: int64
Unique (non-null) values: [np.int64(1), np.int64(2), np.int64(9)]

Column: BPQ030
BPQ030
1.0    1298
NaN    2646
2.0     208
9.0      14
7.0       1
Name: count, dtype: int64
Unique (non-null) values: [np.float64(1.0), np.float64(2.0), np.float64(9.0), np.float64(7.0)]

Column: BPQ150
BPQ150
1.0    1246
NaN    2646
2.0     272
9.0       3
Name: count, dtype: int64
Unique (non-null) values: [np.float64(1.0), np.float64(2.0), np.float64(9.0)]

Column: BPQ080
BPQ080
2    2464
1    1684
9      19
Name: count, dtype: int64
Unique (non-null) values: [np.int64(2), np.int64(1), np.int64(9)]

Column: BPQ101D
BPQ101D
2    3023
1    1125
9      19
Name: count, dtype: int64
Unique (non-null) values: [np.int64(2), np.int64(1), np.int64(9)]

Column: DBQ010
DBQ010
NaN    4167
Name: count, dtype: int64
Unique (non-null) values: []

Column: DBD030
DBD030
NaN    4167
Name: count, dtype: int64
Unique (non-null) values: []

Column: DBD041
DBD041
NaN    4167
Name: count, dtype: int64
Unique (non-null) values: []

Column: DBD050
DBD050
NaN    4167
Name: count, dtype: int64
Unique (non-null) values: []

Column: DBD055
DBD055
NaN    4167
Name: count, dtype: int64
Unique (non-null) values: []

Column: DBD061
DBD061
NaN    4167
Name: count, dtype: int64
Unique (non-null) values: []

Column: DBQ073A
DBQ073A
NaN    4167
Name: count, dtype: int64
Unique (non-null) values: []

Column: DBQ073B
DBQ073B
NaN    4167
Name: count, dtype: int64
Unique (non-null) values: []

Column: DBQ073C
DBQ073C
NaN    4167
Name: count, dtype: int64
Unique (non-null) values: []

Column: DBQ073D
DBQ073D
NaN    4167
Name: count, dtype: int64
Unique (non-null) values: []

Column: DBQ073E
DBQ073E
NaN    4167
Name: count, dtype: int64
Unique (non-null) values: []

Column: DBQ073U
DBQ073U
NaN    4167
Name: count, dtype: int64
Unique (non-null) values: []

Column: DBQ301
DBQ301
2.0    1638
NaN    2443
1.0      86
Name: count, dtype: int64
Unique (non-null) values: [np.float64(2.0), np.float64(1.0)]

Column: DBQ330
DBQ330
2.0    1666
NaN    2443
1.0      58
Name: count, dtype: int64
Unique (non-null) values: [np.float64(2.0), np.float64(1.0)]

Column: DBQ360
DBQ360
NaN    3959
1.0      57
2.0     151
Name: count, dtype: int64
Unique (non-null) values: [np.float64(1.0), np.float64(2.0)]

Column: DBQ370
DBQ370
NaN    4110
1.0      55
2.0       2
Name: count, dtype: int64
Unique (non-null) values: [np.float64(1.0), np.float64(2.0)]

Column: DBD381
DBD381
NaN    4112
5.0      27
3.0       2
0.0      19
4.0       1
1.0       4
2.0       2
Name: count, dtype: int64
Unique (non-null) values: [np.float64(5.0), np.float64(3.0), np.float64(0.0), np.float64(4.0), np.float64(1.0), np.float64(2.0)]

Column: DBQ390
DBQ390
NaN    4131
3.0       9
1.0      25
2.0       2
Name: count, dtype: int64
Unique (non-null) values: [np.float64(3.0), np.float64(1.0), np.float64(2.0)]

Column: DBQ400
DBQ400
NaN    4110
1.0      49
9.0       2
2.0       6
Name: count, dtype: int64
Unique (non-null) values: [np.float64(1.0), np.float64(9.0), np.float64(2.0)]

Column: DBD411
DBD411
NaN    4118
0.0      25
5.0      15
1.0       3
3.0       4
2.0       1
4.0       1
Name: count, dtype: int64
Unique (non-null) values: [np.float64(0.0), np.float64(5.0), np.float64(1.0), np.float64(3.0), np.float64(2.0), np.float64(4.0)]

Column: DBQ421
DBQ421
NaN    4143
1.0      23
3.0       1
Name: count, dtype: int64
Unique (non-null) values: [np.float64(1.0), np.float64(3.0)]

Column: DBQ424
DBQ424
NaN    4136
3.0      12
2.0      12
1.0       7
Name: count, dtype: int64
Unique (non-null) values: [np.float64(3.0), np.float64(2.0), np.float64(1.0)]

Column: DBQ930
DBQ930
2    1263
1    2904
Name: count, dtype: int64
Unique (non-null) values: [np.int64(2), np.int64(1)]

Column: DBQ935
DBQ935
1    2114
2    2052
9       1
Name: count, dtype: int64
Unique (non-null) values: [np.int64(1), np.int64(2), np.int64(9)]

Column: DBQ940
DBQ940
2    1293
1    2873
9       1
Name: count, dtype: int64
Unique (non-null) values: [np.int64(2), np.int64(1), np.int64(9)]

Column: DBQ945
DBQ945
1    2125
2    2041
9       1
Name: count, dtype: int64
Unique (non-null) values: [np.int64(1), np.int64(2), np.int64(9)]

Column: DIQ010
DIQ010
2    3438
1     586
3     143
Name: count, dtype: int64
Unique (non-null) values: [np.int64(2), np.int64(1), np.int64(3)]

Column: DID040
DID040
NaN      3581
35.0       17
55.0       37
33.0        6
66.0        7
63.0       13
57.0       16
49.0        9
51.0       13
65.0       20
60.0       21
40.0       21
28.0        9
36.0       11
30.0       10
78.0        2
45.0       32
9.0         1
47.0        9
26.0        2
70.0        5
62.0       13
50.0       48
39.0        9
31.0        3
48.0       23
999.0       8
27.0        2
52.0       18
59.0        9
53.0       10
54.0       14
24.0        2
16.0        5
44.0        6
32.0        3
72.0        7
41.0        8
18.0        4
17.0        3
68.0        7
46.0        9
37.0        5
29.0        5
23.0        4
8.0         2
42.0        9
58.0       13
61.0        6
38.0        8
20.0        3
56.0        9
19.0        2
74.0        3
43.0        6
79.0        2
69.0        3
14.0        2
67.0        5
21.0        2
25.0        3
13.0        2
34.0        4
64.0        5
75.0        3
22.0        2
80.0        2
77.0        1
73.0        2
71.0        1
Name: count, dtype: int64
Unique (non-null) values: [np.float64(35.0), np.float64(55.0), np.float64(33.0), np.float64(66.0), np.float64(63.0), np.float64(57.0), np.float64(49.0), np.float64(51.0), np.float64(65.0), np.float64(60.0), np.float64(40.0), np.float64(28.0), np.float64(36.0), np.float64(30.0), np.float64(78.0), np.float64(45.0), np.float64(9.0), np.float64(47.0), np.float64(26.0), np.float64(70.0), np.float64(62.0), np.float64(50.0), np.float64(39.0), np.float64(31.0), np.float64(48.0), np.float64(999.0), np.float64(27.0), np.float64(52.0), np.float64(59.0), np.float64(53.0), np.float64(54.0), np.float64(24.0), np.float64(16.0), np.float64(44.0), np.float64(32.0), np.float64(72.0), np.float64(41.0), np.float64(18.0), np.float64(17.0), np.float64(68.0), np.float64(46.0), np.float64(37.0), np.float64(29.0), np.float64(23.0), np.float64(8.0), np.float64(42.0), np.float64(58.0), np.float64(61.0), np.float64(38.0), np.float64(20.0), np.float64(56.0), np.float64(19.0), np.float64(74.0), np.float64(43.0), np.float64(79.0), np.float64(69.0), np.float64(14.0), np.float64(67.0), np.float64(21.0), np.float64(25.0), np.float64(13.0), np.float64(34.0), np.float64(64.0), np.float64(75.0), np.float64(22.0), np.float64(80.0), np.float64(77.0), np.float64(73.0), np.float64(71.0)]

Column: DIQ160
DIQ160
2.0    2914
NaN     730
1.0     516
9.0       7
Name: count, dtype: int64
Unique (non-null) values: [np.float64(2.0), np.float64(1.0), np.float64(9.0)]

Column: DIQ180
DIQ180
1.0    1615
NaN     587
2.0    1832
9.0     132
7.0       1
Name: count, dtype: int64
Unique (non-null) values: [np.float64(1.0), np.float64(2.0), np.float64(9.0), np.float64(7.0)]

Column: DIQ050
DIQ050
NaN    3581
2.0     387
1.0     199
Name: count, dtype: int64
Unique (non-null) values: [np.float64(2.0), np.float64(1.0)]

Column: DID060
DID060
NaN      3968
3.0        17
7.0        12
2.0        15
10.0       22
6.0        11
20.0        5
31.0        1
13.0        3
5.0        19
18.0        5
1.0        16
34.0        1
16.0        5
8.0         8
999.0       3
17.0        4
25.0        4
15.0       12
11.0        5
30.0        2
4.0         8
60.0        1
29.0        2
21.0        2
12.0        4
37.0        2
666.0       1
41.0        2
9.0         1
40.0        1
19.0        1
22.0        1
51.0        1
24.0        1
14.0        1
Name: count, dtype: int64
Unique (non-null) values: [np.float64(3.0), np.float64(7.0), np.float64(2.0), np.float64(10.0), np.float64(6.0), np.float64(20.0), np.float64(31.0), np.float64(13.0), np.float64(5.0), np.float64(18.0), np.float64(1.0), np.float64(34.0), np.float64(16.0), np.float64(8.0), np.float64(999.0), np.float64(17.0), np.float64(25.0), np.float64(15.0), np.float64(11.0), np.float64(30.0), np.float64(4.0), np.float64(60.0), np.float64(29.0), np.float64(21.0), np.float64(12.0), np.float64(37.0), np.float64(666.0), np.float64(41.0), np.float64(9.0), np.float64(40.0), np.float64(19.0), np.float64(22.0), np.float64(51.0), np.float64(24.0), np.float64(14.0)]

Column: DIQ060U
DIQ060U
NaN    3972
2.0     181
1.0      14
Name: count, dtype: int64
Unique (non-null) values: [np.float64(2.0), np.float64(1.0)]

Column: DIQ070
DIQ070
NaN    2922
1.0     479
2.0     761
9.0       5
Name: count, dtype: int64
Unique (non-null) values: [np.float64(1.0), np.float64(2.0), np.float64(9.0)]

Column: FNQ021
FNQ021
NaN    4167
Name: count, dtype: int64
Unique (non-null) values: []

Column: FNQ041
FNQ041
NaN    4167
Name: count, dtype: int64
Unique (non-null) values: []

Column: FNQ050
FNQ050
NaN    4167
Name: count, dtype: int64
Unique (non-null) values: []

Column: FNQ060
FNQ060
NaN    4167
Name: count, dtype: int64
Unique (non-null) values: []

Column: FNQ080
FNQ080
NaN    4167
Name: count, dtype: int64
Unique (non-null) values: []

Column: FNQ160
FNQ160
NaN    4167
Name: count, dtype: int64
Unique (non-null) values: []

Column: FNQ100
FNQ100
NaN    4167
Name: count, dtype: int64
Unique (non-null) values: []

Column: FNQ110
FNQ110
NaN    4167
Name: count, dtype: int64
Unique (non-null) values: []

Column: FNQ120
FNQ120
NaN    4167
Name: count, dtype: int64
Unique (non-null) values: []

Column: FNQ170
FNQ170
NaN    4167
Name: count, dtype: int64
Unique (non-null) values: []

Column: FNQ180
FNQ180
NaN    4167
Name: count, dtype: int64
Unique (non-null) values: []

Column: FNQ190
FNQ190
NaN    4167
Name: count, dtype: int64
Unique (non-null) values: []

Column: FNQ130
FNQ130
NaN    4167
Name: count, dtype: int64
Unique (non-null) values: []

Column: FNQ200
FNQ200
NaN    4167
Name: count, dtype: int64
Unique (non-null) values: []

Column: FNQ140
FNQ140
NaN    4167
Name: count, dtype: int64
Unique (non-null) values: []

Column: FNQ150
FNQ150
NaN    4167
Name: count, dtype: int64
Unique (non-null) values: []

Column: FNDCDI
FNDCDI
NaN    4167
Name: count, dtype: int64
Unique (non-null) values: []

Column: FNQ410
FNQ410
1.0    2349
2.0    1619
3.0     191
7.0       1
4.0       2
NaN       3
9.0       2
Name: count, dtype: int64
Unique (non-null) values: [np.float64(1.0), np.float64(2.0), np.float64(3.0), np.float64(7.0), np.float64(4.0), np.float64(9.0)]

Column: FNQ430
FNQ430
2.0    1004
1.0    3025
3.0     114
9.0      13
4.0       8
NaN       2
7.0       1
Name: count, dtype: int64
Unique (non-null) values: [np.float64(2.0), np.float64(1.0), np.float64(3.0), np.float64(9.0), np.float64(4.0), np.float64(7.0)]

Column: FNQ440
FNQ440
1.0    2656
2.0    1064
3.0     404
4.0      39
9.0       2
NaN       2
Name: count, dtype: int64
Unique (non-null) values: [np.float64(1.0), np.float64(2.0), np.float64(3.0), np.float64(4.0), np.float64(9.0)]

Column: FNQ450
FNQ450
1.0    3464
2.0     632
3.0      67
NaN       2
9.0       2
Name: count, dtype: int64
Unique (non-null) values: [np.float64(1.0), np.float64(2.0), np.float64(3.0), np.float64(9.0)]

Column: FNQ460
FNQ460
1.0    1876
3.0     336
2.0    1948
NaN       2
9.0       2
4.0       2
7.0       1
Name: count, dtype: int64
Unique (non-null) values: [np.float64(1.0), np.float64(3.0), np.float64(2.0), np.float64(9.0), np.float64(4.0), np.float64(7.0)]

Column: FNQ470
FNQ470
1.0    3773
2.0     355
3.0      32
4.0       3
NaN       2
9.0       1
7.0       1
Name: count, dtype: int64
Unique (non-null) values: [np.float64(1.0), np.float64(2.0), np.float64(3.0), np.float64(4.0), np.float64(9.0), np.float64(7.0)]

Column: FNQ480
FNQ480
1.0    3786
2.0     303
3.0      62
4.0      13
NaN       2
7.0       1
Name: count, dtype: int64
Unique (non-null) values: [np.float64(1.0), np.float64(2.0), np.float64(3.0), np.float64(4.0), np.float64(7.0)]

Column: FNQ490
FNQ490
1.0    3278
3.0     173
2.0     711
NaN       2
4.0       2
7.0       1
Name: count, dtype: int64
Unique (non-null) values: [np.float64(1.0), np.float64(3.0), np.float64(2.0), np.float64(4.0), np.float64(7.0)]

Column: FNQ510
FNQ510
4.0    1060
1.0    1066
2.0    1026
5.0     466
3.0     541
7.0       3
9.0       3
NaN       2
Name: count, dtype: int64
Unique (non-null) values: [np.float64(4.0), np.float64(1.0), np.float64(2.0), np.float64(5.0), np.float64(3.0), np.float64(7.0), np.float64(9.0)]

Column: FNQ520
FNQ520
1.0    1121
3.0    2027
2.0     541
NaN     474
9.0       3
7.0       1
Name: count, dtype: int64
Unique (non-null) values: [np.float64(1.0), np.float64(3.0), np.float64(2.0), np.float64(9.0), np.float64(7.0)]

Column: FNQ530
FNQ530
5.0    1113
4.0    1540
1.0     378
2.0     556
3.0     563
9.0      10
7.0       5
NaN       2
Name: count, dtype: int64
Unique (non-null) values: [np.float64(5.0), np.float64(4.0), np.float64(1.0), np.float64(2.0), np.float64(3.0), np.float64(9.0), np.float64(7.0)]

Column: FNQ540
FNQ540
NaN    1130
1.0    1131
2.0     450
3.0    1451
9.0       4
7.0       1
Name: count, dtype: int64
Unique (non-null) values: [np.float64(1.0), np.float64(2.0), np.float64(3.0), np.float64(9.0), np.float64(7.0)]

Column: FNDADI
FNDADI
2.0    3268
1.0     897
NaN       2
Name: count, dtype: int64