In [211]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [212]:
# Steps for preprocessing:
# 1. Drop columns with more than 50% missing values
# 2. Replace NHANES special codes (7/77/777, 9/99/999) with NaN
# 3. Binary variables: convert to binary Yes/No (1/2) to (1/0)
#    For example, DBQ930 - Main meal planner/preparer (1=Yes, 2=No, 7=Refused, 9=Don't know)
# 4. Categorical variables:
#    - Ordinal variables, e.g. FNQ410 - Food security status: 1=Full food security, 2=Marginal food security, 3=Low food security, 4=Very low food security
#       - Preserve ordinality
#       - Convert to 0-indexed (0-3)
# 5. Continous variables:
#    - Frequency variables, e.g. ALQ121 - Alcohol frequency past 12 months), 0=Never in the past year, 1=Every day, 2=5-6 days/week,...
#      Convert to days per year for continuous analysis
        # alq121_mapping = {
        #     0: 0,      # Never
        #     1: 365,    # Every day
        #     2: 286,    # 5-6 days/week → ~5.5*52
        #     3: 182,    # 3-4 days/week → ~3.5*52
        #     4: 104,    # 2 days/week
        #     5: 78,     # 1 day/week
        #     6: 52,     # 2-3 days/month
        #     7: 36,     # 1 day/month
        #     8: 24,     # 7-11 times/year
        #     9: 15,     # 3-6 times/year
        #     10: 6      # 1-2 times/year
        # }
        # df['ALQ121_days'] = df['ALQ121'].map(alq121_mapping)
#   - Numerical measurements (WHD010=height, WHD020=weight, WHD050=desired weight): 
#     - Check for outliers and reasonable ranges
#     - Standardize units if necessary
#     - Create new features, e.g., BMI from height and weight
# 6. Target variable: DSM-V based depression diagnosis

# Missing values?
# Combining features?
# Encode categorical variables?

### Load dataset

In [213]:
df_depression_data = pd.read_csv('processed_data/depression_data.csv')
numerical_cols = df_depression_data.select_dtypes(include=['number', 'float64', 'int64', 'datetime']).columns.tolist()
categorical_cols = df_depression_data.select_dtypes(include=['category', 'object']).columns.tolist()

print(f"Numerical columns: {numerical_cols}")
print(f"Categorical columns: {categorical_cols}")

Numerical columns: ['SEQN', 'DPQ010', 'DPQ020', 'DPQ030', 'DPQ040', 'DPQ050', 'DPQ060', 'DPQ070', 'DPQ080', 'DPQ090', 'DPQ100', 'ACD010A', 'ACD010B', 'ACD010C', 'ACD040', 'ALQ111', 'ALQ121', 'ALQ130', 'ALQ142', 'ALQ270', 'ALQ280', 'ALQ151', 'ALQ170', 'BPQ020', 'BPQ030', 'BPQ150', 'BPQ080', 'BPQ101D', 'DBQ010', 'DBD030', 'DBD041', 'DBD050', 'DBD055', 'DBD061', 'DBQ073A', 'DBQ073B', 'DBQ073C', 'DBQ073D', 'DBQ073E', 'DBQ073U', 'DBQ301', 'DBQ330', 'DBQ360', 'DBQ370', 'DBD381', 'DBQ390', 'DBQ400', 'DBD411', 'DBQ421', 'DBQ424', 'DBQ930', 'DBQ935', 'DBQ940', 'DBQ945', 'DIQ010', 'DID040', 'DIQ160', 'DIQ180', 'DIQ050', 'DID060', 'DIQ060U', 'DIQ070', 'FNQ021', 'FNQ041', 'FNQ050', 'FNQ060', 'FNQ080', 'FNQ160', 'FNQ100', 'FNQ110', 'FNQ120', 'FNQ170', 'FNQ180', 'FNQ190', 'FNQ130', 'FNQ200', 'FNQ140', 'FNQ150', 'FNDCDI', 'FNQ410', 'FNQ430', 'FNQ440', 'FNQ450', 'FNQ460', 'FNQ470', 'FNQ480', 'FNQ490', 'FNQ510', 'FNQ520', 'FNQ530', 'FNQ540', 'FNDADI', 'FNDAEDI', 'FSD032A', 'FSD032B', 'FSD032C', 'FSD041', 'FSD052', 'FSD061', 'FSD071', 'FSD081', 'FSD092', 'FSD102', 'FSDAD', 'FSD151', 'FSQ165', 'FSD165N', 'FSQ012', 'FSD012N', 'FSD230', 'FSD230N', 'FSD795', 'FSD225', 'FSD235', 'FSD162', 'FSQ760', 'FSD760N', 'FSQ653', 'FSD660ZC', 'FSD675', 'FSD680', 'FSD670ZC', 'FSQ690', 'FSQ695', 'HIQ011', 'HIQ032A', 'HIQ032B', 'HIQ032C', 'HIQ032D', 'HIQ032E', 'HIQ032F', 'HIQ032H', 'HIQ032I', 'HIQ210', 'HOD051', 'HSQ590', 'HUQ010', 'HUQ030', 'HUQ042', 'HUQ055', 'HUQ090', 'INDFMMPI', 'INDFMMPC', 'INQ300', 'IND310', 'KIQ022', 'KIQ025', 'KIQ005', 'KIQ010', 'KIQ042', 'KIQ044', 'KIQ052', 'KIQ481', 'MCQ010', 'MCQ035', 'MCQ040', 'MCQ050', 'AGQ030', 'MCQ053', 'MCQ149', 'MCQ160A', 'MCQ195', 'MCQ160B', 'MCQ160C', 'MCQ160D', 'MCQ160E', 'MCQ160F', 'MCQ160M', 'MCQ170M', 'MCQ160P', 'MCQ160L', 'MCQ170L', 'MCQ500', 'MCQ510A', 'MCQ510B', 'MCQ510C', 'MCQ510D', 'MCQ510E', 'MCQ510F', 'MCQ550', 'MCQ560', 'MCQ220', 'MCQ230A', 'MCQ230B', 'MCQ230C', 'MCQ230D', 'OSQ230', 'OCD150', 'OCQ180', 'OCQ210', 'OCQ215', 'OCQ383', 'OHQ845', 'OHQ620', 'OHQ630', 'OHQ640', 'OHQ660', 'OHQ670', 'OHQ680', 'PAQ706', 'PAQ711', 'PAD790Q', 'PAD800', 'PAD810Q', 'PAD820', 'PAD680', 'RHQ010', 'RHQ031', 'RHD043', 'RHQ060', 'RHQ078', 'RHQ131', 'RHD143', 'RHD167', 'RHQ200', 'RHD280', 'RHQ305', 'RHQ332', 'RXQ510', 'RXQ515', 'RXQ520', 'RXQ033', 'RXQ050', 'SLD012', 'SLD013', 'SMD460', 'SMD470', 'SMQ681', 'SMQ690A', 'SMQ710', 'SMQ720', 'SMQ725', 'SMQ690B', 'SMQ740', 'SMQ690C', 'SMQ770', 'SMQ690G', 'SMQ845', 'SMQ846', 'SMQ849', 'SMQ851', 'SMQ690D', 'SMQ690E', 'SMQ690K', 'SMQ863', 'SMQ690F', 'SMDANY', 'SMQ020', 'SMQ040', 'SMD641', 'SMD650', 'SMD100MN', 'SMQ621', 'SMD630', 'SMAQUEX2', 'WHD010', 'WHD020', 'WHD050', 'WHQ070']
Categorical columns: ['PAD790U', 'PAD810U', 'SLQ300', 'SLQ310', 'SLQ320', 'SLQ330']

### Handle columns with missing values
Replace NHANES codes for refuse/missing wih NaN and drop columns with >45% missing values.

In [214]:
def replace_nhanes_special_codes(df):
    """
    Replace NHANES special codes with NaN.
    - 7, 77, 777, 7777, 77777 = Refused
    - 9, 99, 999, 9999, 99999, 55555 = Don't know / Missing
    """
    # Define special codes to replace
    refused_codes = [7, 77, 777, 7777, 77777]
    dont_know_codes = [9, 99, 999, 9999, 99999, 55555]
    special_codes = refused_codes + dont_know_codes
    
    # Also handle implausible values in specific columns
    implausible_values = {
        'WHD010': [9999],      # Height
        'WHD020': [9999],      # Weight  
        'WHD050': [9999, 7777], # Desired weight
        'PAD680': [9999],      # Sedentary minutes
        'OCQ180': [99999, 77777], # Work hours
        'DID040': [999],       # Age diabetes diagnosed
        'RHQ332': [999],       # Age ovaries removed
    }
    
    replaced_count = 0
    for col in df.select_dtypes(include=[np.number]).columns:
        # Replace standard special codes
        mask = df[col].isin(special_codes)
        replaced_count += mask.sum()
        df.loc[mask, col] = np.nan
        
        # Replace column-specific implausible values
        if col in implausible_values:
            mask = df[col].isin(implausible_values[col])
            replaced_count += mask.sum()
            df.loc[mask, col] = np.nan
    
    print(f"Replaced {replaced_count} special code values with NaN")
    return df

In [215]:
def drop_high_missing_columns(df, threshold=50):
    """Drop columns with missing percentage above threshold."""
    missing_pct = df.isna().sum() / len(df) * 100
    cols_to_drop = missing_pct[missing_pct > threshold].index.tolist()
    df = df.drop(columns=cols_to_drop)
    print(f"Dropped {len(cols_to_drop)} columns with >{threshold}% missing values")
    print(f"Shape after dropping high-missing columns: {df.shape}")
    return df

In [216]:
# replace NHANES special codes with NaN
df_depression_data = replace_nhanes_special_codes(df_depression_data)
# drop columns with more than 50% missing values
df_depression_data = drop_high_missing_columns(df_depression_data, threshold=45)
# drop id column, unnecessary flag column and target leakage columns
df_depression_data.drop(columns=['SEQN', 'SMAQUEX2', 'FNQ530', 'FNQ540'], inplace=True, errors='ignore')
df_depression_data

Replaced 8750 special code values with NaN
Dropped 146 columns with >45% missing values
Shape after dropping high-missing columns: (4167, 119)

      DPQ010  DPQ020  DPQ030  DPQ040  ...  WHD010  WHD020  WHD050  WHQ070
0        0.0     0.0     1.0     0.0  ...    70.0   220.0   220.0     2.0
1        0.0     0.0     1.0     1.0  ...    60.0   150.0   165.0     1.0
2        0.0     0.0     0.0     0.0  ...    68.0   200.0   180.0     2.0
3        3.0     3.0     3.0     3.0  ...    69.0   220.0   265.0     2.0
4        0.0     0.0     0.0     1.0  ...    61.0   228.0   235.0     1.0
...      ...     ...     ...     ...  ...     ...     ...     ...     ...
4162     0.0     0.0     1.0     1.0  ...    67.0   204.0   234.0     2.0
4163     0.0     0.0     0.0     0.0  ...    67.0   245.0   290.0     1.0
4164     1.0     0.0     1.0     1.0  ...    62.0   169.0   172.0     1.0
4165     1.0     1.0     0.0     1.0  ...    65.0   180.0   180.0     1.0
4166     0.0     0.0     0.0     1.0  ...    64.0   157.0   157.0     1.0

[4167 rows x 115 columns]

In [217]:
numerical_cols = df_depression_data.select_dtypes(include=['number', 'float64', 'int64', 'datetime']).columns.tolist()
categorical_cols = df_depression_data.select_dtypes(include=['category', 'object']).columns.tolist()

print(f"Numerical columns: {numerical_cols}")
print(f"Categorical columns: {categorical_cols}")

Numerical columns: ['DPQ010', 'DPQ020', 'DPQ030', 'DPQ040', 'DPQ050', 'DPQ060', 'DPQ070', 'DPQ080', 'DPQ090', 'DPQ100', 'ACD010A', 'ALQ111', 'ALQ121', 'ALQ130', 'ALQ142', 'ALQ151', 'BPQ020', 'BPQ080', 'BPQ101D', 'DBQ930', 'DBQ935', 'DBQ940', 'DBQ945', 'DIQ010', 'DIQ160', 'DIQ180', 'FNQ410', 'FNQ430', 'FNQ440', 'FNQ450', 'FNQ460', 'FNQ470', 'FNQ480', 'FNQ490', 'FNQ510', 'FNQ520', 'FNDADI', 'FNDAEDI', 'FSD032A', 'FSD032B', 'FSD032C', 'FSDAD', 'FSD151', 'FSQ165', 'FSD162', 'HIQ011', 'HIQ210', 'HOD051', 'HSQ590', 'HUQ010', 'HUQ030', 'HUQ042', 'HUQ055', 'HUQ090', 'INDFMMPI', 'INDFMMPC', 'INQ300', 'KIQ022', 'KIQ005', 'KIQ042', 'KIQ044', 'KIQ481', 'MCQ010', 'AGQ030', 'MCQ053', 'MCQ160A', 'MCQ160B', 'MCQ160C', 'MCQ160D', 'MCQ160E', 'MCQ160F', 'MCQ160M', 'MCQ160P', 'MCQ160L', 'MCQ550', 'MCQ560', 'MCQ220', 'OSQ230', 'OCD150', 'OHQ845', 'OHQ620', 'OHQ630', 'OHQ640', 'OHQ660', 'OHQ670', 'OHQ680', 'PAD790Q', 'PAD800', 'PAD810Q', 'PAD680', 'RHQ010', 'RHQ031', 'RHD280', 'RXQ510', 'RXQ033', 'RXQ050', 'SLD012', 'SLD013', 'SMD460', 'SMQ681', 'SMQ846', 'SMQ851', 'SMQ863', 'SMDANY', 'SMQ020', 'WHD010', 'WHD020', 'WHD050', 'WHQ070']
Categorical columns: ['PAD790U', 'PAD810U', 'SLQ300', 'SLQ310', 'SLQ320', 'SLQ330']

### Feature Engineering

In [218]:
def calculate_bmi(df):
    """Calculate BMI from height (WHD010) in inches and weight (WHD020) in pounds."""
    # Calculate BMI from height and weight
    # WHD010 is in inches, WHD020 is in pounds
    df['BMI'] = (df['WHD020'] / (df['WHD010'] ** 2)) * 703

    # BMI categories
    df['BMI_category'] = pd.cut(df['BMI'], 
                                bins=[0, 18.5, 25, 30, float('inf')],
                                labels=['underweight', 'normal', 'overweight', 'obese'])

    df.drop(columns=['WHD010', 'WHD020'], inplace=True)
    return df

In [219]:
def calculate_total_alcohol_consumption(df):
    """Calculate total annual alcohol consumption estimate."""
    # Convert ALQ121 to days per year
    alq121_to_days = {
        0: 0,      # Never
        1: 365,    # Every day (original code 1)
        2: 286,    # Nearly every day
        3: 182,    # 3-4 times/week
        4: 104,    # 2 times/week  
        5: 52,     # Once/week
        6: 30,     # 2-3 times/month
        7: 12,     # Once/month
        8: 9,      # 7-11 times/year
        9: 4.5,    # 3-6 times/year
        10: 1.5    # 1-2 times/year
    }
    df['alcohol_days_per_year'] = df['ALQ121'].map(alq121_to_days)

    # Total alcohol consumption estimate
    df['annual_drinks'] = df['alcohol_days_per_year'] * df['ALQ130']
    
    df.drop(columns=['ALQ121', 'ALQ130'], inplace=True)
    return df

In [220]:
def convert_time_columns(df):
    """Convert time strings (HH:MM) to decimal hours."""
    time_cols = ['SLQ300', 'SLQ310', 'SLQ320', 'SLQ330']
    
    def time_to_hours(time_str):
        if pd.isna(time_str):
            return np.nan
        try:
            h, m = time_str.split(':')
            return int(h) + int(m) / 60
        except:
            return np.nan
    
    for col in time_cols:
        if col in df.columns:
            df[col] = df[col].apply(time_to_hours)
    return df

### Special ordinal cases
- Some features (e.g., DIQ010) are ordinal but unordered: 1: Yes, 2: No, 3: Borderline
- Some features are in reverse order (1: every day, 2: nearly every day, etc.), when it should be higher number = higher frequency/severity
- Most ordinal features have 1: Yes, 2: No. We need to convert 2 to 0 for proper encoding

In [221]:
def remap_ordinal_features(df):
    # for some ordinal features, higher value = less frequent/severe => should be reversed
    remappings = {
        # FNQ510: 1=daily → 5=never (should be: higher = more frequent)
        'FNQ510': {1: 4, 2: 3, 3: 2, 4: 1, 5: 0},  # daily→4, weekly→3, monthly→2, few times→1, never→0
        
        # OHQ620-OHQ680: 1=very often → 5=never (should be: higher = more problems)
        'OHQ620': {1: 4, 2: 3, 3: 2, 4: 1, 5: 0},
        'OHQ630': {1: 4, 2: 3, 3: 2, 4: 1, 5: 0},
        'OHQ640': {1: 4, 2: 3, 3: 2, 4: 1, 5: 0},
        'OHQ660': {1: 4, 2: 3, 3: 2, 4: 1, 5: 0},
        'OHQ670': {1: 4, 2: 3, 3: 2, 4: 1, 5: 0},
        'OHQ680': {1: 4, 2: 3, 3: 2, 4: 1, 5: 0},
        
        # FSD032A-C: 1=often true → 3=never true (should be: higher = more food insecurity)
        'FSD032A': {1: 2, 2: 1, 3: 0},
        'FSD032B': {1: 2, 2: 1, 3: 0},
        'FSD032C': {1: 2, 2: 1, 3: 0},

        # ALQ121, ALQ142: 0=Never, 1=Every day → 10=1-2 times a year (should be: higher = more frequent)
        # 'ALQ121': {0: 0, 10: 1, 9: 2, 8: 3, 7: 4, 6: 5, 5: 6, 4: 7, 3: 8, 2: 9, 1: 10},
        'ALQ142': {0: 0, 10: 1, 9: 2, 8: 3, 7: 4, 6: 5, 5: 6, 4: 7, 3: 8, 2: 9, 1: 10},

        # DIQ010: 1=Yes, 2=No, 3=Borderline
        # Correct order: No(0) → Borderline(1) → Yes(2)
        'DIQ010': {2: 0, 3: 1, 1: 2},  
        
        # FNQ520: 1=a little, 2=a lot, 3=somewhere in between
        # Correct order: little(0) → between(1) → a lot(2)
        'FNQ520': {1: 0, 3: 1, 2: 2},
    }

    for col, mapping in remappings.items():
        if col in df.columns:
            df[col] = df[col].map(mapping)
            
    return df

In [222]:
def convert_binary_columns(df, binary_cols):
    """Convert binary columns from (1,2) to (1,0)."""
    for col in binary_cols:
        if col in df.columns:
            df[col] = df[col].replace({2: 0, 2.0: 0})
    return df

Shift ordinal columns to 0-indexed.

In [223]:
def shift_to_zero_indexed(df, columns):
    """Shift ordinal columns starting at 1 to start at 0."""
    for col in columns:
        if col in df.columns:
            min_val = df[col].dropna().min()
            if min_val >= 1:
                df[col] = df[col] - min_val
    return df

### Identify categorical and numerical columns

In [224]:
TARGET_COLS = ['DPQ010', 'DPQ020', 'DPQ030', 'DPQ040', 'DPQ050', 'DPQ060', 'DPQ070', 'DPQ080', 'DPQ090', 'DPQ100']

In [225]:
def identify_binary_columns(df, exclude_cols):
    """Identify binary columns (values 1 and 2 only)."""
    binary_cols = []
    for col in df.select_dtypes(include=[np.number]).columns:
        if col in exclude_cols:
            continue
        unique_vals = set(df[col].dropna().unique())
        if unique_vals and unique_vals.issubset({1, 2, 1.0, 2.0}):
            binary_cols.append(col)
    return binary_cols

In [226]:
def get_known_categorical_columns():
    """Identify known categorical columns: ordinal, nominal."""
    # Known ordinal and nominal columns based on NHANES codebooks
    ordinal_cols = [
        'HUQ010',
        'FNQ410', 'FNQ430', 'FNQ440', 'FNQ450', 'FNQ460', 
        'FNQ470', 'FNQ480', 'FNQ490',
        'FNQ510', 'FNQ520',
        'FSD032A', 'FSD032B', 'FSD032C', 'FSDAD',
        'ALQ142',
        'OHQ845', 'OHQ620', 'OHQ630', 'OHQ640', 'OHQ660', 'OHQ670', 'OHQ680',
        'DIQ010', 'INDFMMPC', 'KIQ005', 'SMD460',
    ]
    
    nominal_cols = [
        'HUQ042', 'OCD150', 'HUQ030',
    ]

    return ordinal_cols, nominal_cols

In [227]:
def identify_column_types(df, target_cols):
    """
    Separate columns into ordinal, nominal, binary, object (categorical) and numerical types.
    """
    exclude_cols = set(target_cols)
    object_cols = df.select_dtypes(include='object').columns.tolist()
    exclude_cols.update(object_cols)

    # Get known ordinal and nominal columns
    ordinal_cols, nominal_cols = get_known_categorical_columns()

    ordinal_cols = [col for col in ordinal_cols if col in df.columns]
    nominal_cols = [col for col in nominal_cols if col in df.columns]

    # Identify binary columns (Yes=1, No=2)
    binary_cols = identify_binary_columns(df, exclude_cols)
    
    # Combine all known categorical columns
    known_categorical = set(ordinal_cols + nominal_cols + binary_cols)

    # Build numerical list
    numerical_cols = []
    for col in df.select_dtypes(include=[np.number]).columns:
        if col not in known_categorical and col not in exclude_cols:
            numerical_cols.append(col)
    
    return ordinal_cols, nominal_cols, binary_cols, numerical_cols, object_cols

### Preprocessing pipeline

In [228]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder, FunctionTransformer

In [229]:
# Identify binary and categorical columns
binary_cols = identify_binary_columns(df_depression_data, exclude_cols=TARGET_COLS)
ordinal_cols, nominal_cols = get_known_categorical_columns()

In [230]:
df_depression_data = convert_time_columns(df_depression_data)
df_depression_data = calculate_bmi(df_depression_data)
df_depression_data = calculate_total_alcohol_consumption(df_depression_data)
df_depression_data = remap_ordinal_features(df_depression_data)
df_depression_data = convert_binary_columns(df_depression_data, binary_cols)
df_depression_data = shift_to_zero_indexed(df_depression_data, ordinal_cols)

In [231]:
# Identify column types
(ordinal_cols, nominal_cols, binary_cols, numerical_cols, object_cols) = identify_column_types(
    df_depression_data,
    target_cols=TARGET_COLS
    )

In [ ]:
if 'BMI_category' in df_depression_data.columns:
    df_depression_data['BMI_category'] = df_depression_data['BMI_category'].astype(str)
    nominal_cols.append('BMI_category')

NameError: name 'df' is not defined

In [ ]:
print(f"Ordinal columns: {len(ordinal_cols)}")
print(f"Nominal columns: {len(nominal_cols)}")
print(f"Binary columns: {len(binary_cols)}")
print(f"Numerical columns: {len(numerical_cols)}")
print(f"Object columns (excluded): {len(object_cols)}")
print(f"Total columns identified: {len(ordinal_cols) + len(nominal_cols) + len(binary_cols) + len(numerical_cols) + len(object_cols)}")

Ordinal columns: 27
Nominal columns: 3
Binary columns: 1
Numerical columns: 71
Object columns (excluded): 2
Total columns identified: 104

#### Basic preprocessing
Only imputes missing values and encodes categorical variables.

In [ ]:
# Basic pipeline
basic_preprocessor = ColumnTransformer(transformers=[
    ('num', Pipeline([
        ('imputer', SimpleImputer(strategy='median')),
        ('scaler', StandardScaler())
    ]), numerical_cols),
    
    ('ord', Pipeline([
        ('imputer', SimpleImputer(strategy='most_frequent')),
    ]), ordinal_cols),
    
    ('nom', Pipeline([
        ('imputer', SimpleImputer(strategy='most_frequent')),
        ('onehot', OneHotEncoder(drop='first', handle_unknown='ignore'))
    ]), nominal_cols),
    
    ('bin', Pipeline([
        ('imputer', SimpleImputer(strategy='most_frequent')),
    ]), binary_cols),
])

In [ ]:
target_cols = ['DPQ010', 'DPQ020', 'DPQ030', 'DPQ040', 
               'DPQ050', 'DPQ060', 'DPQ070', 'DPQ080', 
               'DPQ090', 'DPQ100']
y = df_depression_data[target_cols].copy()
X = df_depression_data.drop(columns=target_cols)

In [ ]:
basic_preprocessor.fit_transform(X)

c:\Users\irene\anaconda3\envs\eslEnv\lib\site-packages\sklearn\impute\_base.py:653: UserWarning: Skipping features without any observed values: ['SLQ300' 'SLQ310' 'SLQ320' 'SLQ330']. At least one non-missing value is needed for imputation with strategy='median'.
  warnings.warn(

array([[ 0.32766011, -0.46735538,  1.31895602, ...,  0.        ,
         0.        ,  1.        ],
       [ 0.32766011, -0.46735538, -0.7581754 , ...,  0.        ,
         0.        ,  1.        ],
       [ 0.32766011, -0.46735538, -0.7581754 , ...,  0.        ,
         0.        ,  1.        ],
       ...,
       [ 0.32766011, -0.46735538, -0.7581754 , ...,  0.        ,
         0.        ,  1.        ],
       [ 0.32766011, -0.46735538,  1.31895602, ...,  0.        ,
         0.        ,  1.        ],
       [ 0.32766011, -0.46735538,  1.31895602, ...,  0.        ,
         0.        ,  1.        ]], shape=(4167, 105))